

*{
  margin: 0;
  box-sizing: border-box;
  
  }
  
  .firstinGrid{
    position: relative;


  margin:0px;
  border-radius:0px;
 
  
  }
  .firstpaper{
  
    border-radius:0px;
  }
  .mainGrid {
  
    border-radius:0px;
  
  }
  

.row {

  border-radius: 50px;
}

.scrollbar{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background-color: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}
.bgtodo {
  background-image:url("https://scontent.fjnb1-1.fna.fbcdn.net/v/t1.6435-9/233165233_4406999036023250_6899818563885140989_n.jpg?_nc_cat=103&ccb=1-4&_nc_sid=730e14&_nc_eui2=AeFLFod-g3kDZel_A--DVg-D0swx4ZGDmeLSzDHhkYOZ4r4e9hOWYJ_TMCLUcSDxMilvE682eKlWhO1hGqIo5_AI&_nc_ohc=oF-dOvKjyP4AX_bI3cK&_nc_ht=scontent.fjnb1-1.fna&oh=dc321e921fc1b549af8a521348219ff4&oe=6131B2D2");
  height:510px; 
  width:500px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}