

*{
  margin: 0;
  box-sizing: border-box;
  
  }
  
  .firstinGrid{
    position: relative;


  margin:0px;
  border-radius:0px;
 
  
  }
  .firstpaper{
  
    border-radius:0px;
  }
  .mainGrid {
  
    border-radius:0px;
  
  }
  

.row {

  border-radius: 50px;
}

.scrollbar{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background-color: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}